#loan-calc-hook{
  padding: 20px;
  border: 1px solid #333;

  .has-error{

    input{
      border-color: #dc3545;
    }

    .input-feedback{
      width: 100%;
      margin-top: 3px;
      font-size: 80%;
      color: #dc3545;
    }

  }

}